extends layouts/main

block content
    section.hero.is-fullheight.is-dark
        include layouts/navbar

        .hero-body
            .container
                .tile.is-ancestor
                    .tile.is-1
                    .tile.is-parent.is-vertical.is-3
                        .tile.is-child
                            h3.title.is-3.has-text-centered
                                | Find more:

                            .has-text-centered
                                mixin github-button()
                                    a.button(href=github_link)&attributes(attributes)
                                        span.icon
                                            i.fab.fa-github
                                        span GitHub

                                //- Add only large button if using larger screen...
                                +github-button()(class="is-hidden-touch is-large")
                                //- ...and tinier button if on smaller screen
                                +github-button()(class="is-hidden-desktop is-medium")
                    .tile.is-1
                    
                    .tile.is-parent.is-vertical
                        each project in projects
                            .tile.is-child.is-12.card
                                //- Image is optional
                                if project.img
                                    .card-image
                                        a(href=project.url target="_blank" rel="noopener noreferrer")
                                            figure.image
                                                img(src=project.img alt='Placeholder image')
                                .card-content
                                    //- For some reason Bulma decides to put this color in light grey
                                    //- if not explicitly set to anything else...
                                    p.title.is-3.has-text-dark= project.title
                                    .content= project.info

                                    //- Link created in case there is no image
                                    unless project.img
                                        a.is-5(href=project.url) GitHub Link
                    .tile.is-1
